In [1]:
import pandas as pd
import scipy as sp

In [48]:
df = pd.read_csv('data/horse_data.csv', header=None, na_values='?').iloc[:, [1, 2, 4, 5, 6, 7, 11, 23]]
df.columns = ['surgery', 'age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temp_of_extremities', 'pain', 'outcome']
df.describe()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temp_of_extremities,pain,outcome
count,300.000000,3.000000e+02,276.000000,242.000000,244.000000,231.000000,256.000000,300.000000
mean,1.640000,1.085889e+06,71.913043,30.417355,2.348361,2.017316,2.917969,1.363333
std,2.173972,1.529801e+06,28.630557,17.642231,1.045054,1.042428,0.976744,0.481763
min,1.000000,5.184760e+05,30.000000,8.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,5.289040e+05,48.000000,18.500000,1.000000,1.000000,3.000000,1.000000
50%,1.000000,5.303055e+05,64.000000,24.500000,3.000000,2.000000,3.000000,1.000000
75%,1.000000,5.347275e+05,88.000000,36.000000,3.000000,3.000000,4.000000,2.000000
max,9.000000,5.305629e+06,184.000000,96.000000,4.000000,4.000000,4.000000,2.000000

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   surgery              300 non-null    int64
 1   age                  300 non-null    int64
 2   rectal_temperature   276 non-null    float64
 3   pulse                242 non-null    float64
 4   respiratory_rate     244 non-null    float64
 5   temp_of_extremities  231 non-null    float64
 6   pain                 256 non-null    float64
 7   outcome              300 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 18.9 KB

In [50]:
df.isnull().sum()

surgery                 0
age                     0
rectal_temperature     24
pulse                  58
respiratory_rate       56
temp_of_extremities    69
pain                   44
outcome                 0
dtype: int64

In [52]:
# Функция для поиска выбросов с использованием IQR
def find_outliers(column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

# Поиск выбросов для каждого непрерывного столбца
continuous_columns = ['rectal_temperature', 'pulse', 'respiratory_rate']
outliers = {col: find_outliers(col) for col in continuous_columns}

for col, outlier_data in outliers.items():
    print(f"Выбросы в столбце {col}:")
    print(outlier_data)

Выбросы в столбце rectal_temperature:
     surgery      age  rectal_temperature  pulse  respiratory_rate  \
3          9  5290409               164.0   84.0               4.0
41         9  5288249               150.0   72.0               NaN
55         9  5282839               160.0   20.0               3.0
255        9  5294539               184.0   84.0               1.0
275        9  5297159               150.0   50.0               1.0

     temp_of_extremities  pain  outcome
3                    1.0   4.0        1
41                   NaN   NaN        1
55                   NaN   3.0        1
255                  NaN   1.0        1
275                  3.0   3.0        1
Выбросы в столбце pulse:
     surgery      age  rectal_temperature  pulse  respiratory_rate  \
3          9  5290409               164.0   84.0               4.0
39         9  5277409               146.0   96.0               NaN
41         9  5288249               150.0   72.0               NaN
82         9  5290759               100.0   80.0               3.0
84         1   529849                60.0   80.0               1.0
103        9  5292489               140.0   68.0               1.0
106        1   528668                52.0   96.0               NaN
120        1   528682                54.0   66.0               1.0
125        1   528461                42.0   68.0               4.0
186        1  5278331                64.0   90.0               2.0
208        1   535338                88.0   80.0               3.0
229        9   534597               120.0   70.0               NaN
244        9  5291409               124.0   88.0               1.0
255        9  5294539               184.0   84.0               1.0
265        1   528590                56.0   68.0               3.0
269        1   527883                64.0   90.0               2.0
295        1   533886               120.0   70.0               4.0

     temp_of_extremities  pain  outcome
3                    1.0   4.0        1
39                   NaN   NaN        1
41                   NaN   NaN        1
82                   1.0   4.0        1
84                   3.0   3.0        1
103                  1.0   3.0        1
106                  3.0   NaN        1
120                  1.0   3.0        1
125                  1.0   3.0        1
186                  3.0   3.0        1
208                  3.0   3.0        1
229                  NaN   1.0        1
244                  3.0   3.0        1
255                  NaN   1.0        1
265                  1.0   3.0        1
269                  3.0   3.0        1
295                  NaN   4.0        2
Выбросы в столбце respiratory_rate:
Empty DataFrame
Columns: [surgery, age, rectal_temperature, pulse, respiratory_rate, temp_of_extremities, pain, outcome]
Index: []

In [ ]:
#Замена пропусков
data['surgery'].fillna(data['surgery'].mode()[0], inplace=True)
data['age'].fillna(data['age'].mode()[0], inplace=True)
data['temp_extremities'].fillna(data['temp_extremities'].mode()[0], inplace=True)
data['rectal_temp'].fillna(data['rectal_temp'].mean(), inplace=True)
data['pulse'].fillna(data['pulse'].mean(), inplace=True)