In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
df_ratings = pd.read_csv('data/u.data.csv', sep='\t', names=['user id', 'item id', 'rating', 'timestamp'])

In [3]:
df_ratings.head(3)

   user id  item id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116

In [4]:
df_movies = pd.read_csv('data/u.item.csv', sep='|', header=0, encoding='utf-8')

In [5]:
df_movies.head(3)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,Unnamed: 24
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,NaN
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,NaN
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,NaN

In [6]:
top = df_ratings.groupby('user id')['rating'].count().idxmax()
print(f'Наибольшее количество отзывов оставил пользователь с id: {top}!')

Наибольшее количество отзывов оставил пользователь с id: 405!

In [7]:
df_ratings = df_ratings[df_ratings['user id'] == top]
df_ratings.reset_index(drop=True, inplace=True)

In [8]:
df_ratings.head(5)

   user id  item id  rating  timestamp
0      405       56       4  885544911
1      405      592       1  885548670
2      405     1582       1  885548670
3      405      171       1  885549544
4      405      580       1  885547447

In [9]:
df_ = df_movies.columns[5:24]
df_movies = df_movies[['movie id '] + list(df_)]

df = df_ratings.merge(df_movies, how='left', left_on='item id', right_on='movie id ')

In [10]:
df.columns

Index(['user id', 'item id', 'rating', 'timestamp', 'movie id ', ' unknown ',
       ' Action ', ' Adventure ', ' Animation ', ' Children's ', ' Comedy ',
       ' Crime ', ' Documentary ', ' Drama ', ' Fantasy ', ' Film-Noir ',
       ' Horror ', ' Musical ', ' Mystery ', ' Romance ', ' Sci-Fi ',
       ' Thriller ', ' War ', ' Western '],
      dtype='object')

In [11]:
X, y = df[[
       ' unknown ',
       ' Action ', ' Adventure ', ' Animation ', " Children's ", ' Comedy ',
       ' Crime ', ' Documentary ', ' Drama ', ' Fantasy ', ' Film-Noir ',
       ' Horror ', ' Musical ', ' Mystery ', ' Romance ', ' Sci-Fi ',
       ' Thriller ', ' War ', ' Western ']], df[['rating']]

In [12]:
X.head(5)

,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0

In [13]:
y.head(5)

   rating
0       4
1       1
2       1
3       1
4       1

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [15]:
model = LinearRegression()

In [16]:
model.fit(X_train, y_train)

LinearRegression()

In [17]:
mean_squared_error(y_test, model.predict(X_test))

1.8685472510506551