In [1]:
import pandas as pd

## Задание 1

In [2]:
df_log = pd.read_csv("data/visit_log.csv", sep=";")

def determine_source_type(row):
    if row['traffic_source'] in ['yandex', 'google']:
        return 'organic'
    elif row['traffic_source'] in ['paid', 'email']:
        if row['region'] == 'Russia':
            return 'ad'
        else:
           return 'other'
    else:
        return row['traffic_source']

df_log['source_type'] = df_log.apply(determine_source_type, axis=1)

In [3]:
df_log.sample(10)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
4912,1550010317,09d6e6ad88,https://host.ru/87010dbb42ea270213,Belarus,55665daf6f,direct,direct
5402,1550013194,620e0ac4bb,https://host.ru/5301a605bd574af1a5,Ukraine,73762183f4,paid,other
12067,1550052816,098fa3a0fb,https://host.ru/4adc8a29b212051b04,Russia,8a0bf07a3f,direct,direct
2621,1549996562,6eb3554273,https://host.ru/f1eb4601740d627ab0,Russia,ab0c9df03f,yandex,organic
6448,1550019419,40d1649ed3,https://host.ru/ac2d98a5a63e7c6e28,Belarus,0a886ca621,paid,other
3838,1550003780,2f47b8d5cb,https://host.ru/1a0fe145099b114845,Ukraine,04a9cdffef,direct,direct
2329,1549994733,16dbb98cc4,https://host.ru/186c4d6b47dbde0e74,China,a6fe6bec03,yandex,organic
5790,1550015528,123c017a21,https://host.ru/87010dbb42ea270213,Russia,0c62f47341,google,organic
7863,1550027824,7ee2f7d845,https://host.ru/ae8a036d7f44d0bcd9,Russia,6fd1efb73c,yandex,organic
9247,1550035900,3c2ea47ac7,https://host.ru/6407d4271d7b23cdf5,Russia,94e6385849,yandex,organic

## Задние 2

In [4]:
df_news = pd.read_csv("data/URLs.txt", header=None, names=['URL'])

In [5]:
df_news["URL"].str.contains('/\d{8}-', regex=True)

0     False
1     False
2     False
3     False
4      True
      ...
89     True
90     True
91     True
92     True
93     True
Name: URL, Length: 94, dtype: bool

## Задание 3

In [6]:
df_acl = pd.read_csv("data/ml-latest-small/ratings.csv")

In [7]:
user_counts = df_acl.groupby('userId').size()
acl = df_acl[df_acl["userId"].isin(user_counts[user_counts > 100].index)].groupby('userId')['timestamp'].agg(lambda x: x.max() - x.min())

acl = acl.mean()
print(f"Среднее время жизни пользователей: {acl} секунд")

Среднее время жизни пользователей: 40080507.4496124 секунд

## Задание 4

In [8]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

In [9]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

In [10]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

In [11]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1',
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [12]:
revenue_data = pd.merge(auto, air, on='client_id', how='outer')
revenue_data = pd.merge(revenue_data, rzd, on='client_id', how='outer')
revenue_data.fillna(0, inplace=True)

In [13]:
# Таблица с тремя типами выручки для каждого client_id без указания адреса клиента
revenue_no_address = revenue_data.copy()
revenue_no_address

   client_id  auto_revenue  air_revenue  rzd_revenue
0        113       57483.0          0.0      10283.0
1        114          83.0          0.0       5774.0
2        115         912.0         81.0        981.0
3        116        4834.0          4.0          0.0
4        117          98.0         13.0          0.0
5        118           0.0        173.0          0.0
6        111           0.0          0.0       1093.0
7        112           0.0          0.0       2810.0

In [14]:
revenue_with_address = pd.merge(client_base, revenue_data, on='client_id', how='left')
revenue_with_address

   client_id          address  auto_revenue  air_revenue  rzd_revenue
0        111  Комсомольская 4           0.0          0.0       1093.0
1        112   Энтузиастов 8а           0.0          0.0       2810.0
2        113  Левобережная 1а       57483.0          0.0      10283.0
3        114          Мира 14          83.0          0.0       5774.0
4        115        ЗЖБИиДК 1         912.0         81.0        981.0
5        116    Строителей 18        4834.0          4.0          0.0
6        117  Панфиловская 33          98.0         13.0          0.0
7        118     Мастеркова 4           0.0        173.0          0.0